<!DOCTYPE html>
<html>
<head>
  <title><%= user.firstname  %> <%= user.surname  %></title>
</head>
<body>
  <h1>Welcome <%= user.firstname  %> <%= user.surname  %>!</h1>
  <p>Email: <%= user.mobile_email %></p>
  <p>DOB: <%= user.dob.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %></p>
  <p>Gender: <%= user.gender %></p>
  <!-- Display other user information as needed -->
</body>
</html>